.link_input {
  border: 1px solid white;
  color: #2f3747;
  font-size: 16px;
  line-height: 24px;
  padding: 16px 20px;
  width: 100%;
  outline: none;
  margin: 0 12px 0 0;
  border-radius: 14px;
  transition: 0.3s;
}

.link_input::placeholder {
  color: #1a2b4d99;
}

.link_input:hover {
  transition: 0.3s;
  border: 1px solid #1a2b4d99;
}

.link_button {
  padding: 13px 20px;
  border-radius: 14px;
  border: none;
  font-size: 16px;
  line-height: 28px;
  color: #2f3747;
  transition: 0.3s;
}
