* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 68px 0 0 0;
  font-family: YS Text,arial,sans-serif;
  background-color: rgb(237, 223, 223);
}

a {
  text-decoration: none;
}
